@charset "utf-8";
/* CSS Document */
h1, h2, h3, h4, h5, h6,span{ margin:0 0;}
*{margin: 0 0;padding: 0 0; }
ul,span{ padding:0 0; margin:0 0;}
ul li{ list-style:none; }
img{ max-width:none}
.clr{ clear:both;}
form{ margin:0 0; padding:0 0;}
body{ margin:0 0; padding:0 0;} 
p{font-family:"宋体"; font-size:12px;}
a{font-family:"宋体"; text-decoration:none;}
img{ border:none;}

/*login_com*/
html { width:100%; height:100%;padding:0;margin:0;border:0; overflow-x:hidden;}
body{width:100%;height:100%; overflow-x:hidden;
background: -moz-linear-gradient(top, #005b86, #eeedd9);
background: -webkit-gradient(linear,top,from(#005b86),to(#eeedd9));
background: -webkit-linear-gradient(top, #005b86, #eeedd9);
background: -o-linear-gradient(top, #005b86, #eeedd9);
 background:url(../images/body.jpg) center top no-repeat;  -webkit-background-size: cover;    -moz-background-size: cover;
    -o-background-size: cover;    background-size: cover; 
}
.login_all{ min-width: 1000px; height:100%; background:url(../images/login_bg.jpg) center center no-repeat; }
.login_all_content{ width:960px; position:absolute; top:50%; left:50%; margin-left:-480px; margin-top:-216px;}
.login_img{ float:left;}
.login_img img{ display:block;width:393px; height:393px;
-moz-border-radius:50%;  -webkit-border-radius:50%;  border-radius:50%;
-moz-background-clip: padding; -webkit-background-clip: padding; background-clip:padding-box; border: 10px solid rgba(255,255,255,0.3);
-webkit-box-shadow:0px 0px 5px #ffffff inset;box-shadow:0px 0px 5px #ffffff inset;}
.login_index{ width:497px; float:left; margin-left:45px; padding-top:45px;}
.login_logo{ padding-top:3px;}
.login_logo img{ display:block; width:96px; height:96px; float:left;
-moz-border-radius:50%;  -webkit-border-radius:50%;  border-radius:50%; 
-moz-background-clip: padding; -webkit-background-clip: padding; background-clip:padding-box; border: 7px solid rgba(255,255,255,0.3);
-webkit-box-shadow:0px 0px 5px #ffffff inset;box-shadow:0px 0px 5px #ffffff inset;}
.logo_text{ width:375px; float:left; padding-left:7px; padding-top:6px;}
.logo_text p{font-family: "微软雅黑", Arial, Helvetica, sans-serif;font-size:36px; color:#ffffff;line-height:50px;}
.login_logo:after{ display:block; content:""; clear:both; height:0px;}
.login_mian:after{ display:block; content:""; clear:both; height:0px;}

.index_input{ position:relative; padding-top:40px; padding-left:3px;}
.login_name{width:490px; height:74px; position:relative;margin-bottom:20px; background-color: rgba(255,255,255,0.9);
-moz-border-radius:6px 6px;  -webkit-border-radius:6px 6px;   border-radius:6px 6px; 
-moz-background-clip: padding; -webkit-background-clip: padding; background-clip:padding-box; border: 1px solid #0285b7;}
span.user_icon{ display:block; width:48px; height:35px; background:url(../images/card_icon.png) 0 0 no-repeat; position:absolute; left:18px; top:19px;}
span.jp_icon{ display:block; width:48px; height:32px; background:url(../images/jp_icon.png) 0 0 no-repeat; position:absolute; right:15px; top:20px;}
.login_text{position:relative; margin-left:76px;}
.login_text input{width:325px;height:74px; line-height:74px; border: none;background: none;font-family: "微软雅黑", Arial, Helvetica, sans-serif;font-size: 28px;color: #333333; padding-left:5px;}
span.write_word {position: absolute;top:17px; z-index: 100; color: #4f4f4f;font-size: 28px;font-family: "微软雅黑", Arial, Helvetica, sans-serif;}

.login_button{ padding-top:10px;}
.login_button a{ cursor:pointer; text-decoration:none; display:block; width:490px; height:70px; font-family: "微软雅黑";color: #ffffff; font-size:28px; line-height:70px; text-align:center; background-color:#ffb400;-moz-border-radius:6px 6px;  -webkit-border-radius:6px 6px; border-radius:6px 6px;}
.login_button a:hover{ background-color:#ff9600;-moz-border-radius:6px 6px;  -webkit-border-radius:6px 6px; border-radius:6px 6px; }

.login_error{font-family: "微软雅黑", Arial, Helvetica, sans-serif;font-size: 20px;color:#fcff00; margin-left:33px; height:26px; line-height:26px; position:absolute; top:24px; right:0px;}
.foot_login{ padding-top:56px;}
.foot_login p { text-align:center;color:#003045; font-family: "微软雅黑";font-size: 17px; line-height:26px;}

a.return-home{ cursor:pointer; display:inline-block; float:right; font-size:26px; font-family: "微软雅黑";color: #ffffff;line-height:40px; margin:25px 0 0 0;}
a.return-home span{ display:inline-block; width:46px; height:38px;background:url(../images/return_home.png) 0 0 no-repeat; float:left; margin-right:10px; background-size:100%;}

a.return_icon{ cursor:pointer; display:inline-block; float:right; font-size:26px; font-family: "微软雅黑";color: #ffffff; height:42px; line-height:38px; margin:28px 0 0 0;}
a.return_icon span{ display:inline-block; width:46px; height:42px;background:url(../images/return.png) 0 0 no-repeat; float:left; margin-right:10px; background-size:100%;}
a.return_icon:hover{ text-decoration:underline;}

/*index_all*/
.index_all{ width:100%; }
.index_content{ padding:15px 25px 20px 25px; margin:0 auto;}
.head{ padding-bottom:10px;}
a.logout{ cursor:pointer; display:inline-block; float:right; font-size:26px; font-family: "微软雅黑";color: #ffffff;line-height:52px; margin:25px 0 0 0;}
a.logout span{ display:inline-block; width:47px; height:51px;background:url(../images/logout.png) 0 0 no-repeat; float:left; margin-right:10px; background-size:100%;}
a.head_logo{ display: block; width:20%; float:left;}
a.head_logo img{ width:100%; max-width:221px;}

.first_title{ height:64px; background:url(../images/title_bg.png) 0 0 repeat-x; border-left:7px solid #37c1c1; padding-left:15px; position:relative;}
.first_title h1{font-size:30px; font-family: "微软雅黑";color: #ffffff;line-height:64px; font-weight:normal;}
.first_title h1 span{ display:inline-block; float:left; width:50px; height:43px; background:url(../images/heart.png) 0 0px no-repeat;background-size: 100%;margin-right:10px; margin-top:12px; }
.first_title h1:after{ display:block; content:""; clear:both; height:0px;}

.guide_content{ background:#f7fffe;  padding:30px 35px 45px 35px; margin-top:10px; min-height:600px; }
.guide_title{ border-bottom:1px solid #37b8b8; margin-bottom:16px; position:relative;}
.guide_title h2, .pay_lead_title h2{font-family:"微软雅黑"; font-size:30px; color:#000000; font-weight:normal; line-height:46px; display:inline-block;border-bottom:3px solid #37b8b8; float:left;}
.pay_lead_title h2{ float:none;}
.guide_title:after{ display:block; content:""; clear:both; height:0px;}
.exam_guide_text{font-family:"微软雅黑"; font-size:26px; line-height:44px; color:#333333; text-indent:2em; width:100%;}
.exam_guide_text p{font-family:"微软雅黑"; font-size:26px; line-height:44px; color:#333333; text-indent:2em; width:100%;}
.pay_lead_title{ padding-bottom:10px; padding-top:16px;}
.pay_lead_title p{ background-color:#ffffff;border:1px solid #8fd7d7; padding:18px 18px;font-family:"微软雅黑"; font-size:26px; line-height:42px; color:#333333; text-indent:2em;}
.scale_btn{ padding-top:20px; }
a.start_test, a.continue_answer{ cursor:pointer; text-decoration:none; display:inline-block; height:62px; font-family: "微软雅黑";color: #ffffff; font-size:28px; line-height:62px; text-align:center; padding:0 150px; background-color:#ffa200;-moz-border-radius:6px 6px;  -webkit-border-radius:6px 6px; border-radius:6px 6px; margin-right:40px;}
a.start_test:hover{background-color:#ff9600;}

/*progress_all*/
.progress_all{ background-color:#e5f4f2; border:1px solid #cfede9; margin-top:20px; padding:17px 136px 17px 94px; height:36px; position:relative;}
p.progress_word{ font-family:"微软雅黑"; font-size:24px; color:#333333; line-height:36px; position:absolute; left:30px; top:17px;}
p.progress_bar{ width:100%; height:18px; background-color:#c4e7e2; margin:10px 0px 0 0px;}
p.progress_bar span{ display:block; width:100px; height:18px;  background-color:#088795;}
p.progress_number{font-family: Arial, Helvetica, sans-serif; font-size:24px; color:#333333; line-height:36px;position:absolute; right:30px; top:17px;}
.progress_all:after{ display:block; content:""; clear:both; height:0px;}
.question_list{padding:22px 0 0 45px; position:relative; }
.question_list p{font-family:"微软雅黑"; font-size:26px; color:#333333; line-height:44px; padding-bottom:7px;}
.replay_inline{ width:40px; position:absolute; left:0; top:22px;}
.replay_inline button.replay_icon{ margin-left:0px; float:none; background-position:0 5px; margin-top:0px; margin-bottom:25px;}
.score_question{width:100%;}
.question_inline a{ display:block; background-color:#ffffff;font-family:"微软雅黑"; font-size:26px; color:#444444; line-height:36px; border:1px solid #b5e5e5; padding:15px 18px 15px 70px; margin-bottom:10px;}
.question_inline a.test_selected{ background:#129d9d url(../images/right_icon.png) 15px 18px no-repeat;border:1px solid #1c9e9e; color:#ffffff;}
h3.question_title{font-family:"微软雅黑"; font-size:30px; color:#000000; font-weight:normal; line-height:39px; padding-bottom: 10px;}
.question_list:after{ display:block; content:""; clear:both; height:0px;}
.next_btn{padding-top:20px;}
.next_btn a.start_test{ margin-right:15px;}

/*test_end*/
.guide_end{ padding:35px 70px; min-height:600px;}
.exam_end{ border-bottom:1px solid #7bd3d3; width:auto; padding-bottom:25px;}
.exam_end h2{font-family:"微软雅黑"; font-size:28px; color:#555555; font-weight:normal; padding-left:130px;background:url(../images/test_end.png) 0 0px no-repeat;height:114px; line-height:114px;}
.exam_next{ padding-top:30px; }
.exam_next_title{ border-left:7px solid #129d9d;padding:3px 0 3px 20px; }
.exam_next_title h3{font-family:"微软雅黑"; font-size:28px; color:#007482; font-weight:normal; line-height:44px; padding-bottom:10px;}
.exam_next_title p{font-family:"微软雅黑"; font-size:26px; color:#333333; line-height:42px;}
.exam_next .scale_btn{ padding:17px 0 20px 20px;}
.end_btn{ padding:25px 0 0px 30px;}

/*scale_one*/
.scale_list{ padding:25px 0 5px 0;}
.scale_one{ background-color:#f3fffd; padding:25px 25px; margin-bottom:25px; position:relative; }
.scale_number{ width:140px;height:164px; background-color:#00a2a2; position:absolute; left:25px; top:25px;}
.scale_number p{ font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#ffffff; font-size:64px; text-align:center;  line-height:164px;}
.scale_content{ padding:0 230px 0 165px;}
.scale_content h2{font-family:"微软雅黑"; font-size:28px; color:#000000;font-weight:normal; padding-bottom:6px; }
.scale_content p{font-family:"微软雅黑"; font-size:23px; line-height:33px; color:#555; height:66px; }
.scale_img{  width:196px; position: absolute; right:25px; top:27px;}
.scale_img img{ display:block; width:196px;height:160px; }
.start_btn{padding-top:10px;}
.start_btn a.start_test, .start_btn a.continue_answer{ height:46px; line-height:44px; padding:0 70px; font-size:22px;-moz-border-radius:4px 4px;  -webkit-border-radius:4px 4px; border-radius:4px 4px; margin-right:20px;}
a.continue_answer{ background-color:#59b740;}
a.continue_answer:hover{ background-color:#47a42e;}
.start_btn .report_examine{ background-color:#909090;}
.start_btn .report_examine:hover{ background-color:#909090;}
.page_next{ padding-bottom:10px;}
.page_next a{ cursor:pointer; text-decoration:none; display:inline-block; float:right; height:50px; line-height:50px; font-family: "微软雅黑";color: #ffffff; font-size:22px; text-align:center; padding:0 65px; background-color:#2682b4;-moz-border-radius:4px 4px;  -webkit-border-radius:4px 4px; border-radius:4px 4px; margin-left:25px;}
.page_next a:hover{background-color:#2174a3;}
.page_next:after{ display:block; content:""; clear:both; height:0px;}

/*success_all*/
.success_all{ width:100%; height:100%; background:url(../images/success.jpg) center center no-repeat;-webkit-background-size: cover;    -moz-background-size: cover;
    -o-background-size: cover;    background-size: cover; }
.success_contennt{width:100%; height:550px;position: fixed; top:50%; left:0; margin-top:-280px; background:url(../images/success_img.png) center bottom no-repeat;}
.success_contennt h1{font-family:"微软雅黑"; font-size:60px; color:#ffffff;font-weight:normal; line-height:80px; padding-bottom:11px; text-align:center;}
.success_contennt p{font-family:"微软雅黑"; font-size:40px; color:#ffffff; line-height:50px; padding-bottom:20px; text-align:center;}
.success_contennt p.number_next{ font-family:Tahoma, Geneva, sans-serif; font-size:210px; line-height:296px;}

/*jp_number*/
.jp_number{ width:524px; background-color: rgba(0,0,0,0.3); height:280px; position:fixed; bottom:0px; left:50%; margin-left:-277px; z-index:1000; padding:30px 0 35px 30px; }
.jp_number button{ display:inline-block; padding:0px 30px; background:none; border:none; background-color:#ffffff;-moz-border-radius:6px 6px;  -webkit-border-radius:6px 6px; border-radius:6px 6px; font-size:50px; font-family:Arial, Helvetica, sans-serif "微软雅黑"; margin:0 15px 20px 0; height:84px; line-height:84px;}
.jp_number button:hover{ background-color:#004f6d; color:#ffffff;}
p.no_scale{font-family:"微软雅黑"; font-size:26px; color:#fcff00; text-align:center; padding-top:10px;font-weight:normal; }

/*ruiwen
.sub_img{ padding:40px 3%; border:1px solid #CCC;  display:inline-block; float:left; width:34%;height:400px;}
.sub_img img{ width:100%;} 
.sds{ float:left; width:51%; padding:40px 4% 40px 4%; border:1px solid #CCC; height:400px; border-left:none;}
.test_panel:after{ display:block; content:""; clear:both; height:0px;}
.sds ul{ padding:0 0; margin-left:-5%; }
.sds ul li{ width:28%; float:left; margin-left:5%; margin-bottom:15px; cursor:pointer;}
.sds ul:after{ display:block; content:""; clear:both; height:0px;}
.sds img{ display:block; width:100%; max-width:200px;cursor:pointer;}
*/
/*ruiwen*/
.sub_img{ padding:60px 0px; border:1px solid #CCC; display:inline-block; float:left; width:60%;}
.sub_img img{ display:block; height:400px; margin:0 auto;}
.sub_s{ height:488px; float:left; width:31%;padding:25px 0px 7px 8.5%; border:1px solid #CCC; border-left:none;}
ul.sub_s li{ float:left; margin-right:55px; margin-bottom:9px; cursor:pointer;}
ul.sub_s li img{ height:110px;}
ul.sub_s:after{ display:block; content:""; clear:both; height:0px;}

/*sound_switch*/
span.read-question{ display:inline-block; width:70px; position:absolute; right:190px; top:21px; font-size:16px;  font-family: "微软雅黑"; color:#ffffff; line-height:24px; text-align:right;}
span.sound_icon{ display:block; width:30px; height:22px;background:url(../images/sound_icon.png) 0 0 no-repeat; position:absolute; right:145px; top:22px;}
.sound_switch{ width:122px; height:40px; background:url(../images/kg_bg.png) 0 0 no-repeat; overflow:hidden; position:absolute; right:10px; top:13px;}
.sound_open{ padding:0px 3px; width:116px; height:40px; background:url(../images/open_btn.png) 3px 0 no-repeat; position:relative;cursor: pointer;
transition:0.5s;
-moz-transition: 0.5s; /* Firefox 4 */
-webkit-transition:0.5s; /* Safari 和 Chrome */
-o-transition:0.5s; /* Opera */}
label.sound_empty{ cursor:pointer; display:block; width:58px; height:40px; background:url(../images/swith_kong.png) 0 0 no-repeat; position: absolute; right:3px; top:0px;}
.sound_close{ background:url(../images/close_icon.png) 3px 0 no-repeat;}
.sound_close .sound_empty{left: 3px;}		
.sound_switch input{width: 122px;height: 40px;z-index: 1000;position: absolute;left: 0;cursor: pointer;opacity: 0.01; cursor: pointer;}
a.sound_empty{ cursor:pointer; display:block; width:58px; height:40px; background:url(../images/swith_kong.png) 0 0 no-repeat; position: absolute; right:3px; top:0px;}
button.replay_icon{ background: none; border:none; cursor:pointer; display: inline-block; width:40px; height:40px; background:url(../images/replay.png) 3px 5px no-repeat;float:left; margin-left:10px; margin-top:5px;}
button.replay_no{ background: none; border:none; cursor:pointer; display: inline-block; width:40px; height:40px; background:url(../images/replay_no.png) 3px 5px no-repeat;float:left; margin-left:10px; margin-top:5px;}
.guide_title h2, .test_instruct h2{font-family:"微软雅黑"; font-size:30px; color:#000000; font-weight:normal; line-height:46px; display:inline-block;border-bottom:3px solid #37b8b8; float:left;}
.test_instruct:after{ display:block; content:""; clear:both; height:0px;}

/*bg_sound*/
.bg_sound{ float:right; padding-right:50px; position:relative; padding-top:28px;}
.bg_switch{ width:50px; height:40px;}
.bg_switch .sound_open{width:50px; height:40px;background:url(../images/bg-sound.png) 0 0 no-repeat; padding:0 0;}
.bg_switch .sound_close{width:50px; height:40px;background:url(../images/bg-sound-no.png) 0 0 no-repeat; padding:0 0;}
.bg_switch input{width: 50px;height: 40px;z-index: 1000;position: absolute;left: 0;cursor: pointer;opacity: 0.01; cursor: pointer;}
.bg_sound span.read-question{ right:116px; top:35px;}

a.switch_link{ cursor:pointer; font-family:"微软雅黑"; font-size:24px; color:#ffffff;line-height:42px; position:fixed; right:15px; top:15px; background:url(../images/switch_icon.png) 0 0 no-repeat; padding-left:60px; cursor:pointer;}
a.switch_link:hover{ text-decoration:underline;}

/*event_time*/
.event_time{ padding-left:45px; padding-bottom:10px;}
.event_time h4{font-size:26px; font-family: "微软雅黑";color: #333333;line-height:36px; font-weight:normal; padding-bottom:8px;}
.event_time label{font-size:24px; font-family: "微软雅黑";color: #333333;line-height:30px; font-weight:normal; padding-bottom:10px; float:left; padding-right:50px;}
.event_time input[type="radio"]{ width:30px; height:30px; float:left; margin-right:5px;}
.event_time_radio:after{ display:block; content:""; clear:both; height:0px;}

.chose_category{ padding-top:10px;}
.chose_category p{font-size:26px; font-family: "微软雅黑";color: #333333;line-height:36px; padding-bottom:8px;}
ul.category_item{ padding-top:10px;}
ul.category_item li { padding-bottom:15px;}
ul.category_item li label{font-size:24px; font-family: "微软雅黑";color: #333333;line-height:30px;  }
ul.category_item li input[type="radio"]{ width:30px; height:30px; float:left; margin-right:5px;}


/*因为没加声音的临时样式*/
h3.question_title{font-family:"微软雅黑"; font-size:30px; color:#000000; font-weight:normal; line-height:48px; padding-bottom: 7px;}
.question_list{  padding:22px 0 5px 0;}
.question_list a{ display:block; background-color:#ffffff;font-family:"微软雅黑"; font-size:26px; color:#444444; line-height:40px; border:1px solid #b5e5e5; padding:15px 18px 15px 70px; margin-bottom:12px;}
.question_list a.test_selected{ background:#129d9d url(../images/right_icon.png) 15px 18px no-repeat;border:1px solid #1c9e9e; color:#ffffff;}


@media screen and (max-width:1680px){
.bg_sound{ padding-top:21px;}
.bg_sound span.read-question{ right:116px; top:28px;}
a.return_icon{ margin-top:21px;}
/*.sub_img{width:39%;}
.sds{width:46%;}*/
.sub_img{ width:59.5%;}
.sub_s{   width:32.5%;padding:25px 0px 7px 7.5%; }
}

@media screen and (max-width:1440px){
a.head_logo{ display: block; width:16%;}
a.logout{font-size:20px; font-family: "微软雅黑";color: #ffffff;line-height:42px;}
a.logout span{width:38px; height:41px;background:url(../images/logout.png) 0 0 no-repeat;margin-right:7px; background-size:100%;}
.first_title{ height:58px; background:url(../images/title_bg.png) 0 0 repeat-x; border-left:6px solid #37c1c1; padding-left:15px;}
.first_title h1{font-size:25px; font-family: "微软雅黑";color: #ffffff;line-height:56px; font-weight:normal;}
.first_title h1 span{ display:inline-block; float:left; width:42px; height:36px; background:url(../images/heart.png) 0 0px no-repeat;background-size: 100%;margin-right:10px; margin-top:12px; }
a.return-home{font-size:20px; line-height:36px;}
a.return-home span{width:39px; height:32px;margin-right:7px; background-size:100%;}
.mtitle_text a.return_icon{ margin:19px 15px 0 0;}
a.return_icon{font-size:22px; line-height:32px; }
a.return_icon span{width:38px; height:35px; background-size:100%;}
.bg_sound{ padding-top:21px; padding-right:40px; }
.bg_sound span.read-question{ right:106px; top:26px;}
.bg_switch .sound_open{width:44px; height:35px;background:url(../images/bg-sound.png) 0 0 no-repeat; background-size:100%;}
.bg_switch .sound_close{width:44px; height:35px;background:url(../images/bg-sound-no.png) 0 0 no-repeat;background-size:100%;}
/*.sub_img{width:40.5%; height:355px;}
.sds{width:44.5%; height:355px;}*/
.sub_img{ width:60.1%; padding: 50px 0px;}
.sub_img img {  height :380px;}
.sub_s{  width:33%;padding:25px 0px 7px 6%;  height:448px;}
ul.sub_s li{ margin-right:40px;}
ul.sub_s li img{height:98px;}
}
@media screen and (max-width:1280px){
/*.sub_img{width:40.5%; height:310px;}
.sds{width:44.5%; height:310px;}	*/
.sub_img{ width:61%; padding: 50px 0px;}
.sub_img img {  height :360px;}
.sub_s{  width:33.5%;padding:25px 0px 7px 5%; height:428px; }
ul.sub_s li{ margin-right: 40px;}
ul.sub_s li img{height:90px;}
}



@media screen and (max-width:1024px){
.index_content{padding: 15px 15px 15px 15px;}
a.head_logo{ display: block; width:15%;}
a.logout{font-size:18px; font-family: "微软雅黑";color: #ffffff;line-height:38px;}
a.logout span{width:34px; height:37px;background:url(../images/logout.png) 0 0 no-repeat;margin-right:7px; background-size:100%;}
.first_title{ height:50px; background:url(../images/title_bg.png) 0 0 repeat-x; border-left:5px solid #37c1c1; padding-left:10px;}
.first_title h1{font-size:20px; font-family: "微软雅黑";color: #ffffff;line-height:50px; font-weight:normal;}
.first_title h1 span{ display:inline-block; float:left; width:36px; height:31px; background:url(../images/heart.png) 0 0px no-repeat;background-size: 100%;margin-right:10px; margin-top:10px; }

.scale_list{ padding: 15px 0 5px 0;}
.scale_one{ padding:15px 15px; margin-bottom:15px;}
.scale_content h2{font-size:22px; padding-bottom:5px;}
.scale_content p{ height:60px; overflow:hidden;font-size:20px; line-height:28px;}
.scale_number{ width:110px; height:140px; left:15px; top:15px;}
.scale_number p{ font-size:54px; line-height:140px;}
.scale_content{padding: 0 182px 0 125px;}
.start_btn{ padding-top:6px;}
.start_btn a.start_test, .start_btn a.continue_answer{ padding:0 45px; height:40px; line-height:40px; font-size:18px;}
.scale_img{width:172px; right:15px; top:15px; }
.scale_img img{ width:172px; height:140px;}
.page_next a{ font-size:18px; height:42px; line-height:42px; padding:0 50px;}

.guide_content{ padding:16px 20px 30px 20px;}
.guide_title{ margin-bottom:10px;}
.guide_title h2, .test_instruct h2, .pay_lead_title h2{font-size:22px; line-height:40px; border-bottom: 2px solid #37b8b8;}
button.replay_no{ height:36px; width:36px; margin:2px 0 0 5px;}
.question_list{ padding: 15px 0 0 45px;}

.exam_guide_text{ font-size:20px; line-height:34px;}
.exam_guide_text p{ font-size:20px; line-height:34px;}
.pay_lead_title{ padding-top:8px;}
button.replay_icon{ height:36px; width:36px; margin:2px 0 0 5px;}
.pay_lead_title p{ font-size:20px; line-height:34px; padding:10px 10px;}
.chose_category p{font-size:20px; line-height:34px; padding-bottom:5px;}
ul.category_item li { padding-bottom:13px;}
ul.category_item li label{font-size:20px; line-height:26px;}
ul.category_item li input[type="radio"]{ width:26px; height:26px;}
.scale_btn{ padding-top:10px;}
a.start_test, a.continue_answer{font-size:20px; height:44px; line-height:44px; padding:0 110px; margin-right:20px;}
.progress_all{ padding: 8px 106px 8px 65px; margin-top:10px;}
p.progress_word{ font-size:18px; line-height:26px; left:15px; top:12px;}
p.progress_bar{ height:12px; margin-top:12px;}
p.progress_bar span{ height:12px;}
h3.question_title{ font-size:22px; padding-bottom:5px; line-height:34px;}
.question_list p{ font-size:20px; color:#444444; line-height:34px; padding-bottom:5px;}
p.progress_number{font-size:18px; line-height:26px; right:15px; top:14px;}
.replay_inline button.replay_icon{ margin-bottom:17px;}
.replay_inline button.replay_icon_option{ margin-top:0px; margin-bottom:15px;}
.question_inline a{font-size:20px; line-height:34px; padding: 8px 18px 8px 50px;}
.question_inline a.test_selected{ background-size:30px; background-position:10px 13px;}
/*no-sound*/
.question_list{padding: 15px 0 0 0px;}
.question_list a{font-size:20px; line-height:34px; padding: 8px 18px 8px 50px;}
.question_list a.test_selected{ background-size:30px; background-position:10px 13px;}

.next_btn{ padding-top:15px;}
.event_time{ padding-left: 35px; padding-bottom:0px;}
.event_time h4{font-size:20px; padding-bottom:3px;}
.event_time label{font-size:20px;}
.event_time input[type="radio"]{ height:26px; width:26px; margin-top:1px;}
.exam_end{ padding-bottom:15px; }
.exam_end h2{font-size:22px; background-size:70px; height:70px; line-height:70px; padding-left:86px;}
.exam_next{ padding-top:20px;}
.exam_next_title{border-left: 4px solid #129d9d; padding: 0px 0 0px 15px;}
.exam_next_title h3{font-size:22px; padding-bottom:0px;}
.exam_next_title p{font-size:20px; line-height:32px;}
.end_btn{ padding:15px 0 0px 20px}
.guide_end{ min-height:500px;}

.success_contennt{width:100%; height:500px;position: fixed; top:50%; left:0; margin-top:-200px; background:url(../images/success_img.png) center center no-repeat; background-size:100%;}
.success_contennt h1{font-family:"微软雅黑"; font-size:54px; color:#ffffff;font-weight:normal; line-height:60px; padding-bottom:11px; text-align:center;}
.success_contennt p{font-family:"微软雅黑"; font-size:40px; color:#ffffff; line-height:50px; padding-bottom:15px; text-align:center;}
.success_contennt p.number_next{ font-family:Tahoma, Geneva, sans-serif; font-size:150px; line-height:180px;}
a.return-home{font-size:18px; font-family: "微软雅黑";color: #ffffff;line-height:30px; margin-top:15px;}
a.return-home span{width:34px; height:28px;margin-right:7px; background-size:100%;}


.mtitle_text a.return_icon{ margin:13px 15px 0 0;}
a.return_icon{font-size:22px; line-height:28px; margin-top:15px; }
a.return_icon span{width:34px; height:31px; background-size:100%;}
.sound_switch{top:5px;}
span.sound_icon{top:15px;}
span.read-question{top:13px;font-size:14px;}
.bg_sound{ padding-top:14px; padding-right:35px; }
.bg_sound span.read-question{ right:100px; top:19px; font-size:14px;}
.bg_switch .sound_open{width:40px; height:32px;background:url(../images/bg-sound.png) 0 0 no-repeat; background-size:100%;}
.bg_switch .sound_close{width:40px; height:32px;background:url(../images/bg-sound-no.png) 0 0 no-repeat;background-size:100%;}

/*.sub_img{width:42.5%; height:255px; padding:25px 3%;}
.sds{width:44.5%; height:255px; padding:25px 3%;}	
*/
.sub_img{ width:61%;}
.sub_img img{ height:320px;}
.sub_s{height:408px;  width:34.5%;padding:25px 0px 7px 3.5%; height:388px;}
ul.sub_s li{ margin-right:15px;}
ul.sub_s li img{ height:82px;}

/*login
.login_all_content{ width:800px; position:absolute; top:50%; left:50%; margin-left:-400px; margin-top:-216px;}
.login_img img{ width:300px; height:300px; border: 7px solid rgba(255,255,255,0.3); }
.login_index{ width:450px; float:left; margin-left:35px; padding-top:20px;}
.login_logo{ padding-top:3px;}
.login_logo img{  width:80px; height:80px; border: 5px solid rgba(255,255,255,0.3);}
.logo_text{ width:345px; float:left; padding-left:7px; padding-top:2px;}
.logo_text p{font-size:31px; line-height:42px;}
.index_input{ padding-top:20px; padding-left:3px;}
.login_name{width:440px; height:68px; margin-bottom:15px;}
span.user_icon{  width:44px; height:32px; background:url(../images/card_icon.png) 0 0 no-repeat; background-size:100%; left:15px; top:17px;}
span.jp_icon{ display:block; width:44px; height:29px; background:url(../images/jp_icon.png) 0 0 no-repeat;  background-size:100%; right:15px; top:17px;}
.login_text{ margin-left:70px;}
.login_text input{width:300px;height:68px; line-height:68px; font-size: 28px;}
span.write_word {top:12px;}
.login_button{ padding-top:10px;}
.login_button a{ width:442px; height:64px;  font-size:26px; line-height:64px; }
.foot_login{ padding-top:20px;}*/
}
